.errorDiv{
  display: flex;
  justify-content: space-around;
  flex-direction:  column;
}
.errorMessage{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: rgb(127, 127, 127);
}
.errorNumbre{
    font-size: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
