

<div class="col-lg-12 col-sm-6 ">
  <mat-card class="b-0 cardWithShadow  ">

    <mat-card-content class="b-t-1 card-searsh" >
      <mat-form-field class="w-40 h-40 mg-12"   appearance="outline">
        <mat-label  >Search</mat-label>
        <input  matInput />
      </mat-form-field>

      <mat-form-field class="filter-input">
        <mat-label>Choose an option</mat-label>
        <mat-select >
          <mat-option value="option1">Option 1</mat-option>

        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="btn-add" >Add new user</button>
    </mat-card-content>
  </mat-card>
</div>



<div class="col-lg-12">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Top Projects</mat-card-title>
      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="ELEMENT_DATA" class="w-100">
          <!-- Position Column -->
          <ng-container matColumnDef="User">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
            User
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <img
                  [src]="element.imagePath"
                  alt="users"
                  width="40"
                  class="rounded-circle"
                />
                <div class="m-l-16">
                  <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                    {{ element.uname }}
                  </h6>
                  <span class="mat-body-1 f-s-12">
                    {{ element.position }}
                  </span>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Role">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
            Role
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.productName }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Email">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
            Email
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-template [ngIf]="element.priority == 'low'">
                <span
                  class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'medium'">
                <span
                  class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'high'">
                <span
                  class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'critical'">
                <span
                  class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'moderate'">
                <span
                  class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Birthday">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
            Birthday
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              ${{ element.budget }}k
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
  </mat-card>
</div>
