<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a>
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                  Sign in with Google
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100 d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />
                  Sign in with FB
                </div>
              </button>
            </div>
          </div>

          <div class="or-border m-t-30">or sign up with</div>

          <form [formGroup]="FormRegister" (click)="RegisterForm()" class="m-t-30">
            <!-- username  -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="ControlUsername" [formControlName]="ControlUsername" />
            </mat-form-field>
            <mat-error
              *ngIf="FormRegister.get('ControlName')!.hasError('required') &&FormRegister.get('ControlName')!.touched ">username
              is required</mat-error>

            <!-- full name  -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Full Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="ControlName" [formControlName]="ControlName" />
            </mat-form-field>
            <mat-error
              *ngIf="FormRegister.get('ControlName')!.hasError('required') &&FormRegister.get('ControlName')!.touched ">full
              name is required</mat-error>

            <!-- email  -->
            <mat-label class="ma
            t-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Adddress</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" name="ControlEmail" [formControlName]="ControlEmail" />
            </mat-form-field>
            <mat-error
              *ngIf="FormRegister.get('ControlEmail')!.hasError('required') &&FormRegister.get('ControlEmail')!.touched ">email
              is required</mat-error>
            <mat-error
              *ngIf="FormRegister.get('ControlEmail')!.hasError('email') &&FormRegister.get('ControlEmail')!.touched "
              [style.fontSize]="'14px'"> Invalid email format</mat-error>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="ControlPassword" [formControlName]="ControlPassword" type="password" />
            </mat-form-field>
            <mat-error
              *ngIf="FormRegister.get('ControlPassword')!.hasError('required') &&FormRegister.get('ControlPassword')!.touched ">password
              is required</mat-error>
            <mat-error
              *ngIf="FormRegister.get('ControlPassword')!.hasError('minlength') &&FormRegister.get('ControlPassword')!.touched "
              [style.fontSize]="'14px'">Password must be at least 8 characters long</mat-error>


            <!-- birthday -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">birthday</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="ControlBirthday" [formControlName]="ControlBirthday" type="date" />
            </mat-form-field>
            <mat-error
              *ngIf="FormRegister.get('ControlBirthday')!.hasError('required') &&FormRegister.get('ControlBirthday')!.touched ">Birthday
              is required</mat-error>
            <!--  btn -->
            <button [disabled]="!FormRegister.valid" mat-flat-button color="primary" class="w-100">
              Sign Up
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24">Already have an Account?

            <a [routerLink]="['/auth']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Sign In</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
