
      <div class="ng-star-inserted">
        <div class="blank-layout-container justify-content-center">
          <div class="position-relative row w-100 h-100">
            <div class="col-lg-7 col-xl-8 bg-gredient p-0">
              <div class="p-24 h-100"><a href="/dashboards/dashboard1" class="ng-star-inserted"><img
                    src="./assets/images/logos/dark-logo.svg" alt="logo" class="align-middle m-2"></a>
                <!---->
                <!---->
                <div class="align-items-center justify-content-center img-height d-none d-lg-flex"><img
                    src="/assets/images/backgrounds/login-bg.svg" alt="login" style="max-width: 500px;"></div>
              </div>
            </div>
            <div class="col-lg-5 col-xl-4 p-0 d-flex justify-content-center">
              <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
                <div class="row justify-content-center w-100">
                  <div class="col-lg-9">
                    <h4 class="f-w-700 f-s-24 m-0">Forgot your password?</h4><span
                      class="f-s-14 d-block mat-body-1 m-t-8">Please enter the email address associated with your
                      account and We will email you a link to reset your password.</span>
                    <form  [formGroup]="formReset" novalidate="" class="m-t-30 ng-pristine ng-invalid ng-touched">
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Adddress</mat-label>
                      <div   appearance="outline" color="primary"
                        class="mat-mdc-form-field w-100 ng-tns-c4276651467-70 mat-mdc-form-field-type-mat-input div-appearance-outline mat-primary ng-pristine ng-invalid ng-star-inserted div-invalid ng-touched">
                        <!---->
                        <div
                          class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c4276651467-70 mdc-text-field--outlined mdc-text-field--no-label mdc-text-field--invalid">
                          <!---->
                          <div class="mat-mdc-form-field-flex ng-tns-c4276651467-70">
                            <div matformfieldnotchedoutline=""
                              class="mdc-notched-outline ng-tns-c4276651467-70 mdc-notched-outline--no-label ng-star-inserted">
                              <div class="mdc-notched-outline__leading"></div>
                              <div class="mdc-notched-outline__notch" >
                                <!---->
                                <!---->
                                <!---->
                              </div>
                              <div class="mdc-notched-outline__trailing"></div>
                            </div>
                            <!---->
                            <!---->
                            <!---->
                            <div class="mat-mdc-form-field-infix ng-tns-c4276651467-70">
                              <!----><input matinput=""  name="controlEmail" type="email" [formControlName]="controlEmail"
                                class="restInput mat-mdc-input-element ng-tns-c4276651467-70 mat-mdc-form-field-input-control mdc-text-field__input ng-pristine ng-invalid cdk-text-field-autofill-monitored ng-touched"
                                id="mat-input-0" required="" aria-required="true" aria-describedby="mat-mdc-hint-0">
                            </div>
                            <!---->
                            <!---->
                          </div>
                          <!---->
                        </div>
                        <div
                          class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c4276651467-70">
                          <!---->
                          <div
                            class="mat-mdc-form-field-hint-wrapper ng-tns-c4276651467-70 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                            style="opacity: 1; transform: translateY(0%);">
                            <!---->
                            <label [class]="'validation-message'" style="color: red;" class=""
                            *ngIf="formReset!.get('controlEmail')!.hasError('required') && formReset!.get('controlEmail')!.touched">
                            Email is required
                          </label><br>
                          <label [class]="'validation-message'" style="color: red;" class=""
                            *ngIf="formReset!.get('controlEmail')!.hasError('email') && formReset!.get('controlEmail')!.touched">
                            Invalid email format
                          </label>
                            <!---->
                            <div class="mat-mdc-form-field-hint-spacer ng-tns-c4276651467-70"></div>
                          </div>
                          <!---->
                        </div>
                        <label [style.color]="'red'" >{{message}} </label>
                      </div><button  (click)="forgotPassword()" mat-button-ripple-uninitialized="" mat-flat-button="" color="primary"
                        class="w-100 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"
                      [disabled]="!formReset.valid"><span
                          class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                          class="mdc-button__label" > Forgot Password </span><span
                          class="mat-mdc-focus-indicator"></span><span
                          class="mat-mdc-button-touch-target"></span></button><a mat-button-ripple-uninitialized=""
                        mat-stroked-button="" color="primary"
                        class="w-100 m-t-8 mdc-button mdc-button--outlined mat-mdc-outlined-button mat-primary mat-mdc-button-base"
                         aria-disabled="false" mat-button-is-fab="false"><span
                          class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                          class="mdc-button__label" [routerLink]="['/auth']" > Back to Login </span><span
                          class="mat-mdc-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

