.card-searsh{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.searsh-input{
  height: 30px;
}
.filter-input{
  margin-right:301px;
}
.btn-add{
  margin-top: -17px;
}
