<div mat-subheader *ngIf="item.navCap && item.role=='user'"  class="nav-caption">
  {{ item.navCap }}
</div>
<a
  mat-list-item
  (click)="onItemSelected(item)"
  [ngClass]="{
    'mat-toolbar mat-primary activeMenu': item.route
      ? router.isActive(item.route, true)
      : false,
  }"
  class="menu-list-item"
  *ngIf="item.role == 'user' && roleLogin == 'user'|| (item.displaying === true && roleLogin === 'admin')"
>
  <i-tabler
    class="routeIcon"
    name="{{ item.iconName }}"
    matListItemIcon
  ></i-tabler>
  <span class="hide-menu">{{ item.displayName }}</span>
</a>
<ng-template #otherBlock>
  <!-- content to render if item.role is not 'user' or roleLogin is not 'user' -->
</ng-template>
