
      <section class="mail-seccess section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
              <!-- Error Inner -->
              <div class="success-inner">
                <h1><i class="fa fa-envelope"></i><span>Your email has been sent successfully!</span></h1>
                <p>Your password has been reset. Please check your email for the new password.</p>
                <button [routerLink]="['/auth']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg">Go Home</button>
              </div>
              <!--/ End Error Inner -->
            </div>
          </div>
        </div>
      </section>
